.app-ts-plans .plans .plan { float:right; text-align:center; padding:2em 0; margin:1em 0; border:1px solid #aaa; border-right:0px; }
.app-ts-plans .plans .plan.first {border-right:1px;}
.app-ts-plans .plans .plan .name {font-size:1.5em; font-weight:bold; }
.app-ts-plans .plans .plan .fee {font-size:1.2em; }
.app-ts-plans .plans .plan .description {border-top:1px dotted #aaa; margin-top:0.5em; padding-top:0.5em;}

.app-ts-plans .plans .clear {clear:both; height:1px; font-size:1px; line-height:1px; margin:0;padding:0;}

.app-ts-plans .plans.count-2 .plan {width:50%;}
.app-ts-plans .plans.count-3 .plan {width:33%;}
.app-ts-plans .plans.count-4 .plan {width:25%;}
.app-ts-plans .plans.count-5 .plan {width:20%;}
.app-ts-plans .plans.count-6 .plan {width:16%;}
.app-ts-plans .plans.count-7 .plan {width:14%;}
.app-ts-plans .plans.count-8 .plan {width:12%;}
.app-ts-plans .plans.count-9 .plan {width:11%;}
.app-ts-plans .plans.count-10 .plan {width:10%;}