<% stylesheets 'ts-plans', 'ts-plans-edit' %>
<% # javascripts 'ts-plans-edit' %>

<div class="editing plans <%= !@page_object.all_plans || @page_object.all_plans.empty? ? 'no-plans' : "count-#{@page_object.all_plans.size}"  %>">
  <% if @page_object.all_plans && !@page_object.all_plans.empty? %>
  <% @page_object.all_plans.each do |plan| %>
  <%= render :partial => 'plan', :locals => { :plan => plan, :first => plan == @page_object.all_plans[0], :last => plan == @page_object.all_plans[-1] }%>
  <% end %>
  <% end %>
  
  <div class="clear"></div>
  
  <% fields_for_page_object do |f| %>
  <div class="fields">
    <%= f.label :update_frequency %>
    Every <%= f.text_field :update_frequency %> Minutes
    <br /> 
    (a value of 0 will try to only call for an update when the data has been updated)<br/>
  </div>
  <% end %>
</div>


